app/config/connect.bdd.php
*.scssc
www/public/.sass-cache/*
backoffice/index.php
www/public/css/*
www/public/images/*
!www/public/images/717f14dda30819a4f4f33e9db62d4b11.jpg
!www/public/images/854ab38af460ab498f8ec2625f704a01.jpg
!www/public/images/6396dcf4e70e26edf74069d8c4d54198.jpg
!www/public/images/9657aef7527042f2c5486112a28fcb44.jpg
!www/public/images/143156b2b2c63a9c225fc09a23b67008.jpg
!www/public/images/cef85c542452e6373417e0dcad3d9932.jpg
*.swp
.idea/.name

.idea/encodings.xml

.idea/modules.xml

.idea/misc.xml

.idea/Projet3A.iml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

*.ids

.idea/dataSources.local.xml

.idea/dataSources.xml

.idea/sqldialects.xml

log/call.log

log/call.log

log/call.log
