html{
    min-height:100%;
    height: 100%;
    body {
        margin: 0;
        padding:0;
        font: 100% $default-font;
        background: #fff;
        height: 100%;
    }
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', $default-font;
    font-weight: 400;
}

a{
    text-decoration: none;
    color:inherit;
}

a img {
	border: 0;
}

img {
	max-width: 100%;
}