@mixin clearfix() {
	display: block;
	content: "";
	clear: both;
}

/***** TRANSITION MIXIN *****/

@mixin trans($elem,$time){
    transition:$elem $time ease-in-out;
    -webkit-transition:$elem $time ease-in-out;
    -moz-transition:$elem $time ease-in-out;
}

/***** BUTTON MIXIN *****/

@mixin button($text,$background){
    position: relative;
    padding: 0.8em 1em;
    color: $text;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $background;
    border: none;
    cursor: pointer;
    border:solid 1px $background;
    border-radius: 3px;
    @include trans(all, 500ms);
    &:hover{
        background-color:darken($background, 10%);
    }
}

/***** SIMPLE LITTLE ARROW IN CSS *****/

@mixin arrow($color, $position, $width, $hover :null){
  position:relative;
  @if $position == bottom {
     &::after{
       content:"";
       position:absolute;
       border-left: $width solid transparent;
       border-right: $width solid transparent;
       border-top: $width solid $color;
       top:100%;
       left:50%;
       transform:translateX(-50%);
       @include trans(all, 200ms);
     }
    @if $hover{
      &:hover{
        &::after{
          border-top-color:darken($color,15%);
        }
      }
    }
  }
  @else if $position == top {
     &::after{
       content:"";
       position:absolute;
       border-left: $width solid transparent;
       border-right: $width solid transparent;
       border-bottom: $width solid $color;
       bottom:100%;
       left:50%;
       transform:translateX(-50%);
       @include trans(all, 200ms);
     }
    @if $hover{
      &:hover{
        &::after{
          border-bottom-color:darken($color,15%);
        }
      }
    }
  }
  @else if $position == right {
     &::after{
       content:"";
       position:absolute;
       border-top: $width solid transparent;
       border-bottom: $width solid transparent;
       border-left: $width solid $color;
       top:50%;
       left:100%;
       transform:translateY(-50%);
       @include trans(all, 200ms);
     }
    @if $hover{
      &:hover{
        &::after{
          border-left-color:darken($color,15%);
        }
      }
    }
  }
  
  @else if $position == left {
     &::after{
        content:"";
        position:absolute;
        border-top: $width solid transparent;
        border-bottom: $width solid transparent;
        border-right: $width solid $color;
        top:50%;
        right:100%;
        transform:translateY(-50%);
        @include trans(all, 200ms);
        }
    @if $hover{
      &:hover{
        &::after{
        border-right-color:darken($color,15%);
        }
      }
    }
  }
}