/**
 * @Variables definition
**/
$default-font: Helvetica, Arial, sans-serif;
$default-color: #000;

$font-serif: "Times new roman", serif;

/***** COLOR *****/

$grey: #aaa;
$golden: #c8af76;
$bluegreen: #709ba8;
$darkbluegreen: #3f5158;
$blueopacity: rgba(3, 102, 166, 0.7);
$facebook: #3b5998;
$twitter: #00aced;
$google: #dd4b39;

/***** MEDIA QUERIES *****/

$small:"screen and (max-width: 480px)";
$medium:"screen and (max-width: 768px)";
$large:"screen and (max-width: 1024px)";