.connexion-container{
    padding: 12em;
    box-sizing:border-box;
    background: url(../img/bg-login.jpg) no-repeat center;
    background-size: cover;

    .connexion-content{
        background-color: #ffffff;
        margin: auto;

        ul{
            display: block;
            padding: 0;
            box-sizing:border-box;
            border-bottom:solid 1px $darkbluegreen;
            margin: 0;
            li{
                float: left;
                list-style-type: none;
                a{
                    display: inline-block;
                    padding: 2em 2.5em;
                    border-right: solid 1px $darkbluegreen;
                    @include trans(all, 500ms);

                    &:hover{
                        background-color:$darkbluegreen;
                        color: #ffffff;
                    }

                    &.active{
                        background-color:$darkbluegreen;
                        color: #ffffff;
                    }
                }
            }

            &::after{
                @include clearfix();
            }
        }

        .connexion-form{
            position: relative;
            > div{
                width: 50%;
                box-sizing:border-box;
                float: left;

                form{
                    display: none;
                    background-color: $darkbluegreen;
                    padding: 2em;

                    .form-div{
                        margin: 20px 0;
                    }

                    input[type=submit]{
                        @include button($darkbluegreen, #ffffff);
                    }

                    &.active{
                        display: block;
                    }
                }

                @media #{$medium}{
                    width: 100%;
                    float: none;
                }
            }

            .social-container{
                position: absolute;
                top:50%;
                right: 0;
                transform:translateY(-50%);
                text-align: center;
                box-sizing:border-box;
                padding: 1em;

                a{
                    display: inline-block;
                    @include button(#ffffff,$facebook);
                    margin-bottom: 20px;
                }

                @media #{$medium}{
                    width: 100%;
                    float: none;
                    position: initial;
                    transform:translateY(0);
                }
            }

            &::after{
                @include clearfix();
            }
        }
    }
    @media #{$medium}{
        padding: 6em 2em;
    }
}