.memorie-container{
    min-height: 100%;
    background-color: lighten($bluegreen, 40%);

    .journal-container{
        text-align: center;
        padding-bottom: 2em;

        h1{
            color:$darkbluegreen;
        }
        .grid{
            h1{
                color:$darkbluegreen;
                margin-bottom: 0;
                @media #{$small}{
                    font-size:1em;
                }
            }

            .column-twothirds{
                margin-bottom: 2em;
            }

            .column-third{
                margin-bottom: 2em;
                text-align: right;
            }

            .sub-title{
                color: $darkbluegreen;
                font-size: 1em;
                margin-bottom: 2em;
            }

            .cover-journal{
                padding: 1em;
                div:first-child{
                    background:#ffffff url(../img/preview.jpg) no-repeat center center;
                    background-size: cover;
                    height: 15em;
                    position: relative;

                    .cover-title{
                        margin: 0;
                        position: absolute;
                        bottom: 5%;
                        left: 50%;
                        transform:translateX(-50%);
                        -webkit-transform:translateX(-50%);
                        background-color: #ffffff;
                        padding: 0.5em;
                        text-align: center;
                        width: 60%;

                        input{
                            outline:none;
                            border: none;
                            width: 100%;
                            font-size: 0.8em;
                            padding: 0.5em 0;
                            text-align: center;
                        }
                    }

                    span.input-file{
                    width: 100%;
                    box-sizing:border-box;
                    background:$darkbluegreen;
                    cursor: pointer;
                    display: block;
                    position: relative;
                    z-index: 5;
                    color: #ffffff;
                    padding: 1em 0;

                    input[type="file"]{
                        position: absolute;
                        width: inherit;
                        top: 0;
                        height: 100%;
                        left: 0;
                        opacity: 0;
                        cursor: pointer;
                        z-index: 10;
                    }
                }
                }

                div:last-child{
                    background-color: #ffffff;
                    margin-top: 1em;
                    padding: 1em;
                    text-align: left;

                    p{
                        margin:0;
                    }

                    textarea{
                        resize:none;
                        border: none;
                        width: 100%;
                        outline: none;
                        height: 17em;
                        font-size: 0.8em;
                    }
                }
            }

            .memorie{
                padding: 1em;
                background-color: #ffffff;
                ul{
                    padding: 0;
                    margin: 0;
                    li{
                        box-sizing:border-box;
                        list-style-type: none;
                        display: inline;
                        float: left;
                        position: relative;
                        padding:0 0.2em;

                        a{
                            padding: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            @include trans(all, 500ms);
                            text-align: center;
                            font-size: 10em;
                            line-height: 1.5;
                            &:hover{
                                color: $golden;
                                background-color: rgba(144, 177, 187, 0.7);
                            }
                        }

                        &:hover a{
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .save-journal{
            @include button(#ffffff,$golden);
            font-size: 1em;
            box-shadow: 0px 5px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0.5);
            -webkit-box-shadow: 0px 5px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 5px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0.5);

            &:active{
                top:5px;
                box-shadow: 0px 0px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0);
                -webkit-box-shadow: 0px 0px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0);
                -moz-box-shadow: 0px 0px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0);
            }

            &[disabled]{
                cursor: not-allowed;
                opacity: 0.5;
            }
        }
    }
}

/*.book-edit-container{
    min-height: 100%;
    background-color: lighten($bluegreen, 40%);

    .journal-container{
        padding: 2em 0;
        text-align: center;
        h1{
            color:$darkbluegreen;
        }
        .grid{
            .column-half{
                position: relative;
                border: solid 0.5em lighten($bluegreen, 40%);

                .cover-title{
                    margin: 0;
                    position: absolute;
                    bottom: 5%;
                    left: 50%;
                    transform:translateX(-50%);
                    -webkit-transform:translateX(-50%);
                    background-color: #ffffff;
                    padding: 0.5em;
                    text-align: center;
                    width: 60%;

                    input{
                        outline:none;
                        border: none;
                        width: 100%;
                        font-size: 0.8em;
                        padding: 0.5em 0;
                        text-align: center;
                    }
                }

                span.input-file{
                    width: 100%;
                    box-sizing:border-box;
                    background:$darkbluegreen;
                    cursor: pointer;
                    display: block;
                    position: relative;
                    z-index: 5;
                    color: #ffffff;
                    padding: 1em 0;

                    input[type="file"]{
                        position: absolute;
                        width: inherit;
                        top: 0;
                        height: 100%;
                        left: 0;
                        opacity: 0;
                        cursor: pointer;
                        z-index: 10;
                    }
                }

                &:last-child{
                    background-color: #ffffff;

                    textarea{
                        resize:none;
                        border: none;
                        width: 100%;
                        outline: none;
                        height: 17em;
                    }
                }

                &:first-child{
                    background:#ffffff url(../img/preview.jpg) no-repeat center center;
                    background-size: cover;
                    height: 15em;
                }
                &:last-child{
                    padding: 0.8em;
                }
                @media #{$medium}{
                    float: none;
                    width: 100%;

                    .cover-title{
                        width: 80%;
                    }
                }
            }
        }

        .tab-container{
            margin: 2em 0;
            ul{
                margin:0;
                padding:0;
                li{
                    list-style-type: none;
                    display: inline;
                    float: left;
                    background-color: #f9f9f9;
                    box-sizing:border-box;
                    border: solid 1px #e8e8e8;
                    a{
                        padding: 2em;
                        display: block;
                        color: $bluegreen;

                        &:hover,  &.active{
                            background-color: #ffffff;
                            color: $golden;
                            border-bottom: solid 1px $golden;
                        }
                    }
                }

                &::after{
                    @include clearfix();
                }
            }

            > div{
                border: solid 1px #e8e8e8;
                background-color: #ffffff;
                padding:2em;
                display: none;

                ul{
                    padding: 0;
                    margin: 0;
                    li{
                        box-sizing:border-box;
                        list-style-type: none;
                        display: inline;
                        float: left;
                        width: 15em;
                        height: 15em;
                        position: relative;

                        a{
                            padding: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: inherit;
                            height: inherit;
                            opacity: 0;
                            @include trans(all, 500ms);
                            text-align: center;
                            font-size: 10em;
                            line-height: 1.5;
                            &:hover{
                                color: $golden;
                                background-color: rgba(144, 177, 187, 0.7);
                            }
                        }

                        &:hover a{
                            opacity: 1;
                        }
                    }
                }

                &.active{
                    display: block;
                }
                &:last-child{
                    height: 30em;
                }
            }
        }

        .save-journal{
            @include button(#ffffff,$golden);
            font-size: 1em;
            box-shadow: 0px 5px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0.5);
            -webkit-box-shadow: 0px 5px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 5px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0.5);

            &:active{
                top:5px;
                box-shadow: 0px 0px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0);
                -webkit-box-shadow: 0px 0px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0);
                -moz-box-shadow: 0px 0px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0);
            }
        }
    }
}*/