.travel-container{

    .travel-cover{
        box-sizing:border-box;
        padding: 10em 1em;
        background: $bluegreen url(../img/create-book-2.png) no-repeat center;
        background-size: cover;
        color: #ffffff;
        position: relative;

        h1{
            display: block;
            margin: 0;
            padding: 0.5em;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $darkbluegreen;
        }

        .travel-nav{
            position: absolute;
            top: 0;
            right: 0;
            background-color: rgba(0,0,0,0.5);

            a{
                padding: 1em;
                padding-left: 2.5em;
                display: block;
                position: relative;

                &::before{
                    top:50%;
                    content:"";
                    position:absolute;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid #ffffff;
                    left:1.5em;
                    transform:translate(-50%,-50%);
                    @include trans(all, 200ms);
                }
            }
        }
    }

    .travel-journal{
        padding: 2em;

        h1{
            padding-bottom: 0.5em;
            color:$darkbluegreen;
            border-bottom: solid 1px $darkbluegreen;
        }

        > div.grid{
            text-align: center;
            padding: 1em;
            border-bottom: solid 1px #000000;

            >div.column-half{

                &:first-child{
                    padding:1em;
                }

                &:last-child{
                    padding-bottom:50%;
                    background: center no-repeat;
                    background-size: cover;

                    @media #{$medium}{
                        padding-bottom: 100%;
                    }
                }

                @media #{$medium}{
                    width: 100%;
                }
            }

            p, h2{
                text-align: left;
            }

            p{
                line-height: 1.4;
            }

            h2{
                font-weight: bold;
            }

            .travel-more{
                padding: 1em 0.8em;
                border:solid 1px $darkbluegreen;
                color: $darkbluegreen;
                border-radius: 3px;
                float: right;
            }

            .travel-add{
                color:#de4848;
                text-decoration: underline;
                text-align: left;
                float: left;
            }

            &:last-child{
                border: none;
            }
        }

        >div.inverse{
            position: relative;
            transform:rotateY(180deg);
            -webkit-transform:rotateY(180deg);

            > div{
                transform:rotateY(-180deg);
                -webkit-transform:rotateY(-180deg);
            }
        }
    }

    .travel-gallery{
        padding: 2em;

        h2{
            padding-bottom: 0.5em;
            color:$darkbluegreen;
            border-bottom: solid 1px $darkbluegreen;
        }

        ul{
            li{
                background: center no-repeat;
                background-size: cover;
                padding-bottom: 33.333333%;
                text-align: center;
                border: solid 5px #ffffff;

                @media #{$medium}{
                    width: 50%;
                    padding-bottom: 50%;
                }

                @media #{$small}{
                    width: 100%;
                    padding-bottom: 100%;
                }
            }
        }
    }
}