.journal-list{
    padding: 2em 4em;
    h1{
        font-size: 2em;
        vertical-align:top;
        color: $darkbluegreen;
        span{
            width: 1.3em;
            display: inline-block;
        }
    }

    ul{
        padding: 0;
        margin: 0;
        li[class*="column"]{
            margin-bottom: 1em;
            position: relative;
            list-style-type: none;
            @media #{$medium}{
                &.column-third{
                    width: 50%;
                }
            }
            @media #{$small}{
                &.column-third{
                    width: 100%;
                    float: none;
                }
            }

            &.create{
                a::after{
                    @include clearfix();
                }
                div{
                    float: left;
                    &:first-child{
                        width:33.333333%;
                        height: 0;
                        padding-bottom: 33.333333%;
                        background: $bluegreen;
                        text-align: center;
                        p{
                            color: #ffffff;
                            font-size: 4em;
                            margin: 0;
                            margin-top: 50%;
                            transform: translateY(-50%);
                        }
                    }

                    &:last-child{
                        width: 66.666666%;
                        p{
                            margin: 0;
                            padding-left: 10px;
                            font-size: 1.2em;
                            font-weight: 600;
                            color: $darkbluegreen;
                        }
                    }
                }
            }
            div{
                box-sizing:border-box;

                div:first-child{
                    padding-bottom: 33.333333%;
                    background: no-repeat center;
                    background-size: cover;
                }

                &:nth-child(2){
                    padding-left: 10px;
                    h2{
                        margin: 0;
                        color: $darkbluegreen;
                        font-weight: 700;
                    }
                    p{
                        color: $darkbluegreen;
                        font-size: 0.8em;
                    }
                    a{
                        display: inline-block;
                        padding: 0.5em 0.8em;
                        border-radius: 3px;

                        @media #{$small}{
                            font-size: 0.8em;
                        }

                        &:nth-child(3){
                            color:$darkbluegreen;
                            border: solid 1px $darkbluegreen;
                        }

                        &:nth-child(4){
                            color:#ffffff;
                            background-color: $darkbluegreen;
                        }

                        &:last-child{
                            background-color: lighten(red,10%);
                            color:#ffffff;
                            @include trans(opacity,500ms);
                            opacity: 0;

                            @media #{$medium}{
                                opacity: 1;
                            }
                        }
                    }

                    &:hover{
                        .delete{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    @media #{$medium}{
        padding: 2em;
    }
    @media #{$small}{
        padding: 2em 1em;
    }
}