@import "commons";

.cover-container{
    min-height: 100%;
    background-color: lighten($bluegreen, 40%);

    .cover-nav{
        display:block;
        padding: 0;
        margin:0;

        li{
            list-style-type: none;
            width: (100%/5);
            background-color: $bluegreen;
            float: left;
            a{
                display: block;
                text-align: center;
                color:#ffffff;
                padding: 1em;
                span{
                    width: 1.4em;
                    height: 1.4em;
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 0.5em;
                    img{
                        height: 100%;
                    }

                    @media screen and (max-width: 870px){
                        margin:0 auto 0.2em auto;
                        display:block;
                    }
                }
                @media #{$medium}{
                    font-size: 0.8em;
                }
                @media #{$small}{
                    font-size: 0.6em;
                    padding: 1em 0;
                }
            }
            &.active{
                background-color: darken($bluegreen, 10%);
                border-bottom: solid 3px darken($bluegreen, 20%);
            }

            &:hover{
                background-color: darken($bluegreen, 10%);
                border-bottom: solid 3px darken($bluegreen, 20%);
            }
        }

        &::after{
            @include clearfix();
        }
    }

    .journal-container{
        padding: 0.5em;
        h1{
            color:$darkbluegreen;
            @media #{$small}{
                font-size:1.5em;
            }
        }
        .breadcrumb{
            list-style:none;
            padding: 0;
            margin: 1em 0;
            counter-reset: part;

            li{
                width: (100%/3);
                float: left;
                cursor: default;
                text-align: center;
                box-sizing:border-box;
                position: relative;
                padding: 1em 1em;
                background-color: #cccccc;
                color:#ffffff;

                span{
                    &::before{
                        width:1em;
                        counter-increment: part;
                        content: counter(part)" | ";
                    }
                }

                &::after, &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    border: 0 solid #cccccc;
                    border-width: 1.5em 1em;
                    width: 0;
                    height: 0;
                }

                &.active{
                    background-color: $golden;
                }

                &:first-child{
                    &::before{
                        border:none;
                    }

                    &::after{
                        left: 100%;
                        border-color: transparent;
                        border-left-color: $golden;
                    }
                }

                &:nth-child(2){
                    &::before{
                        left: -25px;
                        border-left-color: transparent;
                        @media #{$small}{
                            left:-10px;
                        }
                    }
                    &::after{
                        left: 100%;
                        border-color: transparent;
                        border-left-color: #cccccc;
                    }
                }
                &:last-child{
                    margin: 0;
                    &::after{
                        border:none;
                    }

                    &::before{
                        left: -25px;
                        border-left-color: transparent;
                        @media #{$small}{
                            left:-10px;
                        }
                    }
                }
                &:hover{
                    background-color: $golden;
                    &::after{
                        border-left-color:$golden;
                    }
                    &::before{
                        border-color:$golden;
                        border-left-color:transparent;
                    }
                }
                @media #{$small}{
                    font-size: 0.6em;
                }
            }
            &::after{
                @include clearfix();
            }
        }
        div.column-half{
            padding:0.8em;
            position: relative;
            @media #{$medium}{
                width: 100%;
            }

            span.input-file{
                position: absolute;
                left: 1em;
                top: 1em;
                width: 50px;
                height: 50px;
                background:#ffffff url(../img/icons/edit.png) no-repeat center center;
                cursor: pointer;

                input[type="file"]{
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    cursor: pointer;
                }
            }

            .form-div:first-child{
                margin-bottom: 2em;
            }

            .form-div{
                textarea{
                    height: 30em;
                }
            }
            &:first-child{
                background-color: #ffffff;
            }
        }
        form{
            text-align: center;
            padding-bottom:5em; 
            input[type="submit"]{
                outline: none;
                margin-top: 2em;
                font-size: 1em;
                @include button(#ffffff, $golden);
                box-shadow: 0px 5px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0.5);
                -webkit-box-shadow: 0px 5px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 5px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0.5);

                &:active{
                    top:5px;
                    box-shadow: 0px 0px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0);
                    -webkit-box-shadow: 0px 0px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0);
                    -moz-box-shadow: 0px 0px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0);
                }
            }
        }
    }
}