@import "commons";

.cover-container{
    min-height: 100%;
    background-color: lighten($bluegreen, 40%);

    .journal-container{
        padding: 0.5em;
        text-align: center;
        h1{
            color:$darkbluegreen;
            font-weight: bold;
            margin-bottom: 0;
            @media #{$small}{
                font-size:1em;
            }
        }

        h2{
            color: $darkbluegreen;
            font-size: 1em;
            margin-bottom: 2em;
        }

        .column-twothirds{
            margin-bottom: 2em;
        }

        .column-third{
            margin-bottom: 2em;
            text-align: right;
        }

        div.column-half{
            position: relative;
            @media #{$medium}{
                width: 100%;
            }

            span.input-file{
                width: 100%;
                box-sizing:border-box;
                background:$darkbluegreen;
                cursor: pointer;
                display: block;
                position: relative;
                z-index: 5;
                color: #ffffff;
                padding: 1em 0;

                input[type="file"]{
                    position: absolute;
                    width: inherit;
                    top: 0;
                    left: 0;
                    height: 100%;
                    opacity: 0;
                    cursor: pointer;
                    z-index: 10;
                }
            }

            .form-div:first-child{
                margin-bottom: 2em;
            }

            .form-div{
                textarea{
                    height: 30em;
                }
            }

            &:last-child{
                padding: 1em;
                background-color: #ffffff;
            }
        }

        .column-half div{
            padding-right: 1em;
        }

        form{
            text-align: center;
            padding-bottom:5em; 
            input[type="submit"]{
                outline: none;
                font-size: 1em;
                @include button(#ffffff, $golden);
                box-shadow: 0px 5px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0.5);
                -webkit-box-shadow: 0px 5px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 5px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0.5);

                &:active{
                    top:5px;
                    box-shadow: 0px 0px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0);
                    -webkit-box-shadow: 0px 0px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0);
                    -moz-box-shadow: 0px 0px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0);
                }
            }
        }
    }
}