@import "commons";

.cover-container{
    min-height: 100%;
    background-color: lighten($bluegreen, 40%);

    .cover-nav{
        display:block;
        padding: 0;
        margin:0;

        li{
            list-style-type: none;
            width: (100%/5);
            background-color: $bluegreen;
            float: left;
            a{
                display: block;
                text-align: center;
                color:#ffffff;
                padding: 1em;
                span{
                    width: 1.4em;
                    height: 1.4em;
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 0.5em;
                    img{
                        height: 100%;
                    }

                    @media screen and (max-width: 870px){
                        margin:0 auto 0.2em auto;
                        display:block;
                    }
                }
                @media #{$medium}{
                    font-size: 0.8em;
                }
                @media #{$small}{
                    font-size: 0.6em;
                    padding: 1em 0;
                }
            }
            &.active{
                background-color: darken($bluegreen, 10%);
                border-bottom: solid 3px darken($bluegreen, 20%);
            }

            &:hover{
                background-color: darken($bluegreen, 10%);
                border-bottom: solid 3px darken($bluegreen, 20%);
            }
        }

        &::after{
            @include clearfix();
        }
    }

    .journal-container{
        padding: 2em 0;
        text-align: center;
        h1{
            color:$darkbluegreen;
        }
        .breadcrumb{
            list-style:none;
            padding: 0;
            margin: 1em 0;
            counter-reset: part;

            li{
                width: (100%/3);
                float: left;
                cursor: default;
                text-align: center;
                box-sizing:border-box;
                position: relative;
                padding: 1em 1em;
                background-color: #cccccc;
                color:#ffffff;

                span{
                    &::before{
                        width:1em;
                        counter-increment: part;
                        content: counter(part)" | ";
                    }
                }

                &::after, &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    border: 0 solid #cccccc;
                    border-width: 1.5em 1em;
                    width: 0;
                    height: 0;
                }

                &.active{
                    background-color: $golden;
                }

                &:first-child{
                    &::before{
                        border:none;
                    }

                    &::after{
                        left: 100%;
                        border-color: transparent;
                        border-left-color: $golden;
                    }
                }

                &:nth-child(2){
                    &::before{
                        left: -25px;
                        border-color:$golden;
                        border-left-color:transparent;
                        @media #{$small}{
                            left:-10px;
                        }
                    }
                    &::after{
                        left: 100%;
                        border-color: transparent;
                        border-left-color: #cccccc;
                    }
                }
                &:last-child{
                    margin: 0;
                    &::after{
                        border:none;
                    }

                    &::before{
                        left: -25px;
                        border-left-color: transparent;
                        @media #{$small}{
                            left:-10px;
                        }
                    }
                }
                &:hover{
                    background-color: $golden;
                    &::after{
                        border-left-color:$golden;
                    }
                    &::before{
                        border-color:$golden;
                        border-left-color:transparent;
                    }
                }
                @media #{$small}{
                    font-size: 0.6em;
                }
            }
            &::after{
                @include clearfix();
            }
        }
        .grid{
            .column-half{
                position: relative;
                border: solid 0.5em lighten($bluegreen, 40%);

                .cover-title{
                    margin: 0;
                    position: absolute;
                    bottom: 5%;
                    left: 50%;
                    transform:translateX(-50%);
                    -webkit-transform:translateX(-50%);
                    background-color: #ffffff;
                    padding: 0.5em;
                    text-align: center;
                    width: 60%;
                }

                &:last-child{
                    background-color: #ffffff;
                        p{
                        margin: 0;
                        line-height: 1.2;
                    }
                }

                &:first-child{
                    background:#ffffff url(../img/preview.jpg) no-repeat center center;
                    background-size: cover;
                    height: 15em;
                }
                &:last-child{
                    padding: 0.8em;
                }
                @media #{$medium}{
                    float: none;
                    width: 100%;

                    .cover-title{
                        width: 80%;
                    }
                }
            }
        }

        .tab-container{
            margin: 2em 0;
            ul{
                margin:0;
                padding:0;
                li{
                    list-style-type: none;
                    display: inline;
                    float: left;
                    background-color: #f9f9f9;
                    box-sizing:border-box;
                    border: solid 1px #e8e8e8;
                    a{
                        padding: 2em;
                        display: block;
                        color: $bluegreen;

                        &:hover,  &.active{
                            background-color: #ffffff;
                            color: $golden;
                            border-bottom: solid 1px $golden;
                        }
                    }
                }

                &::after{
                    @include clearfix();
                }
            }

            > div{
                border: solid 1px #e8e8e8;
                background-color: #ffffff;
                padding:2em;
                display: none;

                ul{
                    padding: 0;
                    margin: 0;
                    li{
                        box-sizing:border-box;
                        list-style-type: none;
                        display: inline;
                        float: left;
                        width: 15em;
                        height: 15em;
                        position: relative;

                        a{
                            padding: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: inherit;
                            height: inherit;
                            opacity: 0;
                            @include trans(all, 500ms);
                            text-align: center;
                            font-size: 10em;
                            line-height: 1.5;
                            &:hover{
                                color: $golden;
                                background-color: rgba(144, 177, 187, 0.7);
                            }
                        }

                        &:hover a{
                            opacity: 1;
                        }
                    }
                }

                &.active{
                    display: block;
                }
                &:last-child{
                    height: 30em;
                }
            }
        }

        .save-journal{
            @include button(#ffffff,$golden);
            font-size: 1em;
            padding: 1em 5em;
            box-shadow: 0px 5px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0.5);
            -webkit-box-shadow: 0px 5px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 5px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0.5);

            &:active{
                top:5px;
                box-shadow: 0px 0px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0);
                -webkit-box-shadow: 0px 0px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0);
                -moz-box-shadow: 0px 0px 0px darken($golden, 20%),0px 0px 15px 1px rgba(0,0,0,0);
            }
        }
    }
}

#map img{
    max-width: none;
}