/**
 * @Variables definition
**/
/***** COLOR *****/
/***** MEDIA QUERIES *****/
/***** TRANSITION MIXIN *****/
/***** BUTTON MIXIN *****/
/***** SIMPLE LITTLE ARROW IN CSS *****/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: 'iconfnt';
  src: url("../fonts/iconfnt-webfont.eot");
  src: url("../fonts/iconfnt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfnt-webfont.woff2") format("woff2"), url("../fonts/iconfnt-webfont.woff") format("woff"), url("../fonts/iconfnt-webfont.ttf") format("truetype"), url("../fonts/iconfnt-webfont.svg#scottkellum-icoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/**
 * @Grid
**/
.grid {
  padding: 0;
  font-family: "iconfnt"; }
  .grid > * {
    font-family: Helvetica, Arial, sans-serif; }
  .grid:before, .grid:after {
    display: table;
    content: "";
    clear: both; }
  .grid [class*="column-"] {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0;
    margin: 0; }
  .grid .column-half {
    width: 50%; }
  .grid .column-third {
    width: 33.3333%; }
  .grid .column-twothirds {
    width: 66.6666%; }
  .grid .column-fourth {
    width: 25%; }
  .grid .column-sixth {
    width: 16.6666%; }

.grid-vertical [class*="column-"] {
  vertical-align: middle; }

.u-wrapper {
  max-width: 1000px;
  margin: 0 auto; }

html {
  min-height: 100%;
  height: 100%; }
  html body {
    margin: 0;
    padding: 0;
    font: 100% Helvetica, Arial, sans-serif;
    background: #fff;
    height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400; }

a {
  text-decoration: none;
  color: inherit; }

a img {
  border: 0; }

img {
  max-width: 100%; }

.site-header {
  background-color: #ffffff;
  text-align: right; }
  .site-header .site-logo {
    float: left;
    width: 100px;
    padding: 1em 0 0 1em; }
    @media screen and (max-width: 480px) {
      .site-header .site-logo {
        width: 80px;
        padding: 0.7em 0 0 0.5em; } }
  .site-header:after {
    display: block;
    content: "";
    clear: both; }
  .site-header .header-nav {
    margin: 0;
    padding: 0;
    float: right; }
    .site-header .header-nav a {
      color: #3f5158;
      padding: 1em 1.5em;
      float: left;
      height: 16px;
      border-left: solid 1px #ccc;
      transition: all 500ms ease-in-out;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out; }
      @media screen and (max-width: 580px) {
        .site-header .header-nav a {
          font-size: 0.8em;
          padding: 1em 1.2em; } }
      .site-header .header-nav a:hover {
        color: #ffffff;
        background-color: #3f5158; }
      .site-header .header-nav a:nth-child(2) {
        background-color: #709ba8;
        color: #ffffff; }
        .site-header .header-nav a:nth-child(2):hover {
          background-color: #3f5158; }
      .site-header .header-nav a:nth-child(3) {
        transition: background-color 500ms ease-in-out;
        -webkit-transition: background-color 500ms ease-in-out;
        -moz-transition: background-color 500ms ease-in-out;
        background: url(../img/icons/fb.svg) no-repeat center center;
        background-size: cover; }
        .site-header .header-nav a:nth-child(3):hover {
          background: #3b5998 url(../img/icons/fb-hover.svg) no-repeat center center; }
        @media screen and (max-width: 480px) {
          .site-header .header-nav a:nth-child(3) {
            display: none; } }
      .site-header .header-nav a:nth-child(4) {
        transition: background-color 500ms ease-in-out;
        -webkit-transition: background-color 500ms ease-in-out;
        -moz-transition: background-color 500ms ease-in-out;
        background: url(../img/icons/twitter.svg) no-repeat center center;
        background-size: cover; }
        .site-header .header-nav a:nth-child(4):hover {
          background: #00aced url(../img/icons/twitter-hover.svg) no-repeat center center; }
        @media screen and (max-width: 480px) {
          .site-header .header-nav a:nth-child(4) {
            display: none; } }
      .site-header .header-nav a:last-child {
        transition: background-color 500ms ease-in-out;
        -webkit-transition: background-color 500ms ease-in-out;
        -moz-transition: background-color 500ms ease-in-out;
        background: url(../img/icons/google.svg) no-repeat center center;
        background-size: cover; }
        .site-header .header-nav a:last-child:hover {
          background: #dd4b39 url(../img/icons/google-hover.svg) no-repeat center center; }
        @media screen and (max-width: 480px) {
          .site-header .header-nav a:last-child {
            display: none; } }

.site-footer {
  border-top: solid 1px #000; }
  .site-footer ul {
    padding: 0;
    margin: 0;
    float: right; }
    .site-footer ul li {
      float: left;
      border-left: solid 1px #ccc;
      list-style-type: none; }
      .site-footer ul li a {
        text-align: center;
        padding: 1.5em;
        display: block;
        color: #3f5158;
        transition: all 500ms ease-in-out;
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out; }
        .site-footer ul li a:hover {
          background-color: #3f5158;
          color: #ffffff; }
      .site-footer ul li:nth-child(3) a {
        padding: 2em;
        transition: background-color 500ms ease-in-out;
        -webkit-transition: background-color 500ms ease-in-out;
        -moz-transition: background-color 500ms ease-in-out;
        background: url(../img/icons/fb.svg) no-repeat center center; }
        .site-footer ul li:nth-child(3) a:hover {
          background: #3b5998 url(../img/icons/fb-hover.svg) no-repeat center center; }
      .site-footer ul li:nth-child(4) a {
        padding: 2em;
        transition: background-color 500ms ease-in-out;
        -webkit-transition: background-color 500ms ease-in-out;
        -moz-transition: background-color 500ms ease-in-out;
        background: url(../img/icons/twitter.svg) no-repeat center center; }
        .site-footer ul li:nth-child(4) a:hover {
          background: #00aced url(../img/icons/twitter-hover.svg) no-repeat center center; }
      .site-footer ul li:last-child a {
        padding: 2em;
        transition: background-color 500ms ease-in-out;
        -webkit-transition: background-color 500ms ease-in-out;
        -moz-transition: background-color 500ms ease-in-out;
        background: url(../img/icons/google.svg) no-repeat center center; }
        .site-footer ul li:last-child a:hover {
          background: #dd4b39 url(../img/icons/google-hover.svg) no-repeat center center; }
    @media screen and (max-width: 480px) {
      .site-footer ul {
        float: none; }
        .site-footer ul li {
          width: 20%;
          box-sizing: border-box; }
          .site-footer ul li a {
            padding: 1.5em 0; }
          .site-footer ul li:first-child {
            border-left: none; } }
    .site-footer ul:after {
      display: block;
      content: "";
      clear: both; }
  .site-footer:after {
    display: block;
    content: "";
    clear: both; }

.form-div {
  position: relative;
  overflow: hidden; }
  .form-div label {
    position: absolute;
    left: 1.5em;
    top: -1em;
    opacity: 0;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    font-size: 1em; }
    .form-div label.active {
      top: 0.5em;
      opacity: 1; }
  .form-div span.error {
    position: absolute;
    top: 0.5em;
    right: 1em;
    color: red; }
  .form-div input, .form-div textarea {
    font-size: 0.8em;
    padding: 2em;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none; }
    .form-div input:focus + label, .form-div textarea:focus + label {
      top: 0.5em;
      opacity: 1; }

.cover-nav {
  display: block;
  padding: 0;
  margin: 0; }
  .cover-nav li {
    list-style-type: none;
    width: 20%;
    background-color: #709ba8;
    float: left;
    box-sizing: border-box; }
    .cover-nav li a {
      display: block;
      text-align: center;
      color: #ffffff;
      padding: 1em; }
      .cover-nav li a span {
        width: 1.4em;
        height: 1.4em;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0.5em; }
        .cover-nav li a span img {
          height: 100%; }
        @media screen and (max-width: 870px) {
          .cover-nav li a span {
            margin: 0 auto 0.2em auto;
            display: block; } }
      @media screen and (max-width: 768px) {
        .cover-nav li a {
          font-size: 0.8em; } }
      @media screen and (max-width: 480px) {
        .cover-nav li a {
          font-size: 0.6em;
          padding: 1em 0; } }
    .cover-nav li.active {
      background-color: #43656f; }
    .cover-nav li:hover {
      background-color: #43656f; }
  .cover-nav::after {
    display: block;
    content: "";
    clear: both; }

/***** BREADCRUMB *****/
.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 1em 0;
  counter-reset: part; }
  .breadcrumb li {
    white-space: nowrap;
    width: 33.33333%;
    float: left;
    cursor: default;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    padding: 1em 1em;
    background-color: #cccccc;
    color: #ffffff; }
    .breadcrumb li span::before {
      width: 1em;
      counter-increment: part;
      content: counter(part) " | "; }
    .breadcrumb li::after, .breadcrumb li::before {
      overflow: initial !important;
      content: "";
      position: absolute;
      top: 0;
      border: 0 solid #cccccc;
      border-width: 1.5em 1em;
      width: 0;
      height: 0; }
    .breadcrumb li.active {
      background-color: #c8af76; }
    .breadcrumb li:first-child::before {
      border: none; }
    .breadcrumb li:first-child::after {
      left: 100%;
      border-color: transparent;
      border-left-color: #c8af76; }
    .breadcrumb li:nth-child(2)::before {
      left: -25px;
      border-left-color: transparent; }
      @media screen and (max-width: 480px) {
        .breadcrumb li:nth-child(2)::before {
          left: -10px; } }
    .breadcrumb li:nth-child(2)::after {
      left: 100%;
      border-color: transparent;
      border-left-color: #cccccc; }
    .breadcrumb li:last-child {
      margin: 0; }
      .breadcrumb li:last-child::after {
        border: none; }
      .breadcrumb li:last-child::before {
        left: -25px;
        border-left-color: transparent; }
        @media screen and (max-width: 480px) {
          .breadcrumb li:last-child::before {
            left: -10px; } }
    @media screen and (max-width: 480px) {
      .breadcrumb li {
        font-size: 0.6em; } }
  .breadcrumb::after {
    display: block;
    content: "";
    clear: both; }

/***** DESIGN ALERT MESSAGE NOT DEFINATELY *****/
.alert {
  margin: auto;
  padding: 1em;
  box-sizing: border-box; }
  .alert-danger {
    background-color: #ff9999;
    color: #000000; }
  .alert-success {
    background-color: #1aff1a;
    color: #000000; }

.jumbotron-content {
  background: #709ba8 url(../img/create-book-2.jpg) bottom center no-repeat;
  background-size: cover;
  padding: 11em 0;
  text-align: center; }
  .jumbotron-content h1 {
    color: #fff;
    font-size: 3em;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 0px 0px 30px #000;
    margin: 0 0 2em 0; }
  .jumbotron-content a {
    position: relative;
    padding: 0.8em 1em;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #c8af76;
    border: none;
    cursor: pointer;
    border: solid 1px #c8af76;
    border-radius: 3px;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    box-shadow: 0px 5px 0px #9a7e3e, 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 5px 0px #9a7e3e, 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 0px #9a7e3e, 0px 0px 15px 1px rgba(0, 0, 0, 0.5); }
    .jumbotron-content a:hover {
      background-color: #b99a52;
      border: solid 1px #b99a52; }
    .jumbotron-content a:active {
      top: 5px;
      box-shadow: 0px 0px 0px #9a7e3e, 0px 0px 15px 1px transparent;
      -webkit-box-shadow: 0px 0px 0px #9a7e3e, 0px 0px 15px 1px transparent;
      -moz-box-shadow: 0px 0px 0px #9a7e3e, 0px 0px 15px 1px transparent; }
  @media screen and (max-width: 480px) {
    .jumbotron-content {
      padding: 6em 0; }
      .jumbotron-content h1 {
        font-size: 1.5em;
        margin: 0 0 1em 0; } }
.jumbotron-alternative {
  color: #fff;
  text-transform: uppercase; }
  .jumbotron-alternative > a {
    color: #fff; }

.diaries {
  text-align: center; }
  @media screen and (max-width: 768px) {
    .diaries .grid .column-third {
      width: 50%; } }
  @media screen and (max-width: 480px) {
    .diaries .grid .column-third {
      width: 100%; } }
  .diaries .diaries-title {
    color: #3f5158;
    font-weight: normal;
    font-size: 1.5em; }
  .diaries .diaries-description {
    max-width: 600px;
    color: #aaa;
    margin: 1em auto 2em auto; }
  .diaries .diary {
    position: relative;
    margin: 1em;
    text-align: center; }
    .diaries .diary .diary-preview {
      position: relative;
      margin: 0;
      padding: 0;
      width: 100%; }
      .diaries .diary .diary-preview > img {
        width: 100%;
        display: block; }
      @media screen and (max-width: 480px) {
        .diaries .diary .diary-preview {
          width: 33.333333%;
          float: left; } }
    .diaries .diary .diary-more {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(3, 102, 166, 0.7); }
      .diaries .diary .diary-more > .diary-button {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        padding: 0.8em 1em;
        border: 2px solid #fff;
        color: #fff;
        transform: translate(-50%, -50%);
        -webkit-transform: translateY(-50%, -50%); }
    .diaries .diary:hover .diary-more {
      display: block; }
      @media screen and (max-width: 480px) {
        .diaries .diary:hover .diary-more {
          display: none; } }
    .diaries .diary .diary-meta {
      box-sizing: border-box; }
      .diaries .diary .diary-meta .diary-name {
        margin: 0.5em 0;
        color: #3f5158;
        font-weight: normal; }
        @media screen and (max-width: 480px) {
          .diaries .diary .diary-meta .diary-name {
            margin: 0;
            font-size: 0.8em; } }
      .diaries .diary .diary-meta .diary-description {
        padding: 0 10px;
        font-style: italic; }
        .diaries .diary .diary-meta .diary-description:before {
          content: open-quote; }
        .diaries .diary .diary-meta .diary-description:after {
          content: close-quote; }
        @media screen and (max-width: 480px) {
          .diaries .diary .diary-meta .diary-description {
            font-size: 0.6em; } }
      .diaries .diary .diary-meta span {
        display: none; }
        @media screen and (max-width: 480px) {
          .diaries .diary .diary-meta span {
            display: block;
            text-align: right;
            padding: 0.8em;
            font-size: 0.8em;
            color: #3f5158; } }
      @media screen and (max-width: 480px) {
        .diaries .diary .diary-meta {
          float: left;
          width: 66.666666%;
          text-align: left;
          padding: 0.5em;
          transform: translateY(25%); } }
    .diaries .diary a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-indent: -999999px; }
    @media screen and (max-width: 480px) {
      .diaries .diary::after {
        display: block;
        content: "";
        clear: both; } }
  .diaries form input {
    padding: 0.8em 1em;
    border: solid 1px #3f5158;
    outline: none;
    font-size: 1em; }
  .diaries form button {
    -webkit-appearance: none;
    position: relative;
    padding: 0.8em 1em;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #3f5158;
    border: none;
    cursor: pointer;
    border: solid 1px #3f5158;
    border-radius: 3px;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    border: solid 1px #3f5158;
    font-size: 1em; }
    .diaries form button:hover {
      background-color: #2a363a;
      border: solid 1px #2a363a; }
  @media screen and (max-width: 480px) {
    .diaries form {
      padding: 1em;
      border-top: solid 1px #000;
      border-bottom: solid 1px #000; }
      .diaries form input {
        border: none;
        float: left;
        border-bottom: solid 1px #aaa;
        width: 70%;
        padding: 0.8em 0.5em; }
      .diaries form button {
        float: left;
        margin-left: 5px; }
      .diaries form::after {
        display: block;
        content: "";
        clear: both; } }

.description {
  padding: 2em 0;
  background-color: #709ba8; }
  .description h2 {
    text-align: center;
    color: #ffffff;
    font-weight: 100;
    text-transform: uppercase;
    position: relative; }
    .description h2::before {
      position: absolute;
      left: 0;
      right: 0;
      content: "";
      border-top: solid 1px #ffffff;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      z-index: 0; }
    .description h2 span {
      background-color: #709ba8;
      padding: 0 1em;
      position: relative;
      z-index: 1; }
  .description ul li {
    text-align: center; }
    .description ul li div {
      margin: auto;
      width: 150px;
      height: 150px;
      background-color: #ffffff;
      border-radius: 50%;
      text-align: center; }
      .description ul li div img {
        position: relative;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%); }
      @media screen and (max-width: 480px) {
        .description ul li div {
          width: 100px;
          height: 100px; }
          .description ul li div img {
            width: 50px; } }
    .description ul li p {
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 100;
      margin: 0;
      padding-top: 2em;
      position: relative; }
    @media screen and (max-width: 480px) {
      .description ul li.column-third {
        width: 100%;
        padding: 1em 0; } }

.profesional {
  padding: 5em 0; }
  .profesional-description {
    background-color: #3f5158; }
    .profesional-description div {
      padding: 1.5em; }
      .profesional-description div h4 {
        margin: 0;
        margin-bottom: 1em;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1.5em; }
        @media screen and (max-width: 480px) {
          .profesional-description div h4 {
            line-height: 1.5;
            font-size: 1.2em; } }
      .profesional-description div a {
        position: relative;
        padding: 0.8em 1em;
        color: #3f5158;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #ffffff;
        border: none;
        cursor: pointer;
        border: solid 1px #ffffff;
        border-radius: 3px;
        transition: all 500ms ease-in-out;
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        display: inline-block; }
        .profesional-description div a:hover {
          background-color: #e6e6e6;
          border: solid 1px #e6e6e6; }
  @media screen and (max-width: 480px) {
    .profesional .column-half {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .profesional {
      padding: 0; } }

#mc_embed_signup {
  text-align: center;
  padding: 2em;
  background-color: #c8af76; }
  #mc_embed_signup label {
    display: block;
    font-family: 'Open sans';
    text-transform: uppercase;
    color: #ffffff; }
  #mc_embed_signup input[type="email"] {
    font-size: 0.8em;
    padding: 1em;
    resize: none;
    box-sizing: border-box;
    outline: none;
    border: solid 1px #cccccc;
    margin: 2em 0; }
  #mc_embed_signup input[type="submit"] {
    -webkit-appearance: none;
    outline: none;
    position: relative;
    padding: 0.8em 1em;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #709ba8;
    border: none;
    cursor: pointer;
    border: solid 1px #709ba8;
    border-radius: 3px;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    border: solid 1px #709ba8;
    box-shadow: 0px 5px 0px #43656f, 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 5px 0px #43656f, 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 0px #43656f, 0px 0px 15px 1px rgba(0, 0, 0, 0.5); }
    #mc_embed_signup input[type="submit"]:hover {
      background-color: #57818e;
      border: solid 1px #57818e; }
    #mc_embed_signup input[type="submit"]:active {
      top: 5px;
      box-shadow: 0px 0px 0px #43656f, 0px 0px 15px 1px transparent;
      -webkit-box-shadow: 0px 0px 0px #43656f, 0px 0px 15px 1px transparent;
      -moz-box-shadow: 0px 0px 0px #43656f, 0px 0px 15px 1px transparent; }

/*# sourceMappingURL=index.css.map */
