/**
 * @Variables definition
**/
/***** COLOR *****/
/***** MEDIA QUERIES *****/
/***** TRANSITION MIXIN *****/
/***** BUTTON MIXIN *****/
/***** SIMPLE LITTLE ARROW IN CSS *****/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: 'iconfnt';
  src: url("../fonts/iconfnt-webfont.eot");
  src: url("../fonts/iconfnt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfnt-webfont.woff2") format("woff2"), url("../fonts/iconfnt-webfont.woff") format("woff"), url("../fonts/iconfnt-webfont.ttf") format("truetype"), url("../fonts/iconfnt-webfont.svg#scottkellum-icoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/**
 * @Grid
**/
.grid {
  padding: 0;
  font-family: "iconfnt"; }
  .grid > * {
    font-family: Helvetica, Arial, sans-serif; }
  .grid:before, .grid:after {
    display: table;
    content: "";
    clear: both; }
  .grid [class*="column-"] {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0;
    margin: 0; }
  .grid .column-half {
    width: 50%; }
  .grid .column-third {
    width: 33.3333%; }
  .grid .column-twothirds {
    width: 66.6666%; }
  .grid .column-fourth {
    width: 25%; }
  .grid .column-sixth {
    width: 16.6666%; }

.grid-vertical [class*="column-"] {
  vertical-align: middle; }

.u-wrapper {
  max-width: 1000px;
  margin: 0 auto; }

html {
  min-height: 100%;
  height: 100%; }
  html body {
    margin: 0;
    padding: 0;
    font: 100% Helvetica, Arial, sans-serif;
    background: #fff;
    height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400; }

a {
  text-decoration: none;
  color: inherit; }

a img {
  border: 0; }

img {
  max-width: 100%; }

.site-header {
  background-color: #ffffff;
  text-align: right; }
  .site-header .site-logo {
    float: left;
    width: 100px;
    padding: 1em 0 0 1em; }
    @media screen and (max-width: 480px) {
      .site-header .site-logo {
        width: 80px;
        padding: 0.7em 0 0 0.5em; } }
  .site-header:after {
    display: block;
    content: "";
    clear: both; }
  .site-header .header-nav {
    margin: 0;
    padding: 0;
    float: right; }
    .site-header .header-nav a {
      color: #3f5158;
      padding: 1em 1.5em;
      float: left;
      height: 16px;
      border-left: solid 1px #ccc;
      transition: all 500ms ease-in-out;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out; }
      @media screen and (max-width: 580px) {
        .site-header .header-nav a {
          font-size: 0.8em;
          padding: 1em 1.2em; } }
      .site-header .header-nav a:hover {
        color: #ffffff;
        background-color: #3f5158; }
      .site-header .header-nav a:nth-child(2) {
        background-color: #709ba8;
        color: #ffffff; }
        .site-header .header-nav a:nth-child(2):hover {
          background-color: #3f5158; }
      .site-header .header-nav a:nth-child(3) {
        transition: background-color 500ms ease-in-out;
        -webkit-transition: background-color 500ms ease-in-out;
        -moz-transition: background-color 500ms ease-in-out;
        background: url(../img/icons/fb.svg) no-repeat center center;
        background-size: cover; }
        .site-header .header-nav a:nth-child(3):hover {
          background: #3b5998 url(../img/icons/fb-hover.svg) no-repeat center center; }
        @media screen and (max-width: 480px) {
          .site-header .header-nav a:nth-child(3) {
            display: none; } }
      .site-header .header-nav a:nth-child(4) {
        transition: background-color 500ms ease-in-out;
        -webkit-transition: background-color 500ms ease-in-out;
        -moz-transition: background-color 500ms ease-in-out;
        background: url(../img/icons/twitter.svg) no-repeat center center;
        background-size: cover; }
        .site-header .header-nav a:nth-child(4):hover {
          background: #00aced url(../img/icons/twitter-hover.svg) no-repeat center center; }
        @media screen and (max-width: 480px) {
          .site-header .header-nav a:nth-child(4) {
            display: none; } }
      .site-header .header-nav a:last-child {
        transition: background-color 500ms ease-in-out;
        -webkit-transition: background-color 500ms ease-in-out;
        -moz-transition: background-color 500ms ease-in-out;
        background: url(../img/icons/google.svg) no-repeat center center;
        background-size: cover; }
        .site-header .header-nav a:last-child:hover {
          background: #dd4b39 url(../img/icons/google-hover.svg) no-repeat center center; }
        @media screen and (max-width: 480px) {
          .site-header .header-nav a:last-child {
            display: none; } }

.site-footer {
  border-top: solid 1px #000; }
  .site-footer ul {
    padding: 0;
    margin: 0;
    float: right; }
    .site-footer ul li {
      float: left;
      border-left: solid 1px #ccc;
      list-style-type: none; }
      .site-footer ul li a {
        text-align: center;
        padding: 1.5em;
        display: block;
        color: #3f5158;
        transition: all 500ms ease-in-out;
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out; }
        .site-footer ul li a:hover {
          background-color: #3f5158;
          color: #ffffff; }
      .site-footer ul li:nth-child(3) a {
        padding: 2em;
        transition: background-color 500ms ease-in-out;
        -webkit-transition: background-color 500ms ease-in-out;
        -moz-transition: background-color 500ms ease-in-out;
        background: url(../img/icons/fb.svg) no-repeat center center; }
        .site-footer ul li:nth-child(3) a:hover {
          background: #3b5998 url(../img/icons/fb-hover.svg) no-repeat center center; }
      .site-footer ul li:nth-child(4) a {
        padding: 2em;
        transition: background-color 500ms ease-in-out;
        -webkit-transition: background-color 500ms ease-in-out;
        -moz-transition: background-color 500ms ease-in-out;
        background: url(../img/icons/twitter.svg) no-repeat center center; }
        .site-footer ul li:nth-child(4) a:hover {
          background: #00aced url(../img/icons/twitter-hover.svg) no-repeat center center; }
      .site-footer ul li:last-child a {
        padding: 2em;
        transition: background-color 500ms ease-in-out;
        -webkit-transition: background-color 500ms ease-in-out;
        -moz-transition: background-color 500ms ease-in-out;
        background: url(../img/icons/google.svg) no-repeat center center; }
        .site-footer ul li:last-child a:hover {
          background: #dd4b39 url(../img/icons/google-hover.svg) no-repeat center center; }
    @media screen and (max-width: 480px) {
      .site-footer ul {
        float: none; }
        .site-footer ul li {
          width: 20%;
          box-sizing: border-box; }
          .site-footer ul li a {
            padding: 1.5em 0; }
          .site-footer ul li:first-child {
            border-left: none; } }
    .site-footer ul:after {
      display: block;
      content: "";
      clear: both; }
  .site-footer:after {
    display: block;
    content: "";
    clear: both; }

.form-div {
  position: relative;
  overflow: hidden; }
  .form-div label {
    position: absolute;
    left: 1.5em;
    top: -1em;
    opacity: 0;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    font-size: 1em; }
    .form-div label.active {
      top: 0.5em;
      opacity: 1; }
  .form-div span.error {
    position: absolute;
    top: 0.5em;
    right: 1em;
    color: red; }
  .form-div input, .form-div textarea {
    font-size: 0.8em;
    padding: 2em;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none; }
    .form-div input:focus + label, .form-div textarea:focus + label {
      top: 0.5em;
      opacity: 1; }

.connexion-container {
  padding: 12em;
  box-sizing: border-box;
  background: url(../img/bg-login.jpg) no-repeat center;
  background-size: cover; }
  .connexion-container .connexion-content {
    background-color: #ffffff;
    margin: auto; }
    .connexion-container .connexion-content ul {
      display: block;
      padding: 0;
      box-sizing: border-box;
      border-bottom: solid 1px #3f5158;
      margin: 0; }
      .connexion-container .connexion-content ul li {
        float: left;
        list-style-type: none; }
        .connexion-container .connexion-content ul li a {
          display: inline-block;
          padding: 2em 2.5em;
          border-right: solid 1px #3f5158;
          transition: all 500ms ease-in-out;
          -webkit-transition: all 500ms ease-in-out;
          -moz-transition: all 500ms ease-in-out; }
          .connexion-container .connexion-content ul li a:hover {
            background-color: #3f5158;
            color: #ffffff; }
          .connexion-container .connexion-content ul li a.active {
            background-color: #3f5158;
            color: #ffffff; }
      .connexion-container .connexion-content ul::after {
        display: block;
        content: "";
        clear: both; }
    .connexion-container .connexion-content .connexion-form {
      position: relative; }
      .connexion-container .connexion-content .connexion-form > div {
        width: 50%;
        box-sizing: border-box;
        float: left; }
        .connexion-container .connexion-content .connexion-form > div form {
          display: none;
          background-color: #3f5158;
          padding: 2em; }
          .connexion-container .connexion-content .connexion-form > div form .form-div {
            margin: 20px 0; }
          .connexion-container .connexion-content .connexion-form > div form input[type=submit] {
            position: relative;
            padding: 0.8em 1em;
            color: #3f5158;
            text-decoration: none;
            text-transform: uppercase;
            background-color: #ffffff;
            border: none;
            cursor: pointer;
            border: solid 1px #ffffff;
            border-radius: 3px;
            transition: all 500ms ease-in-out;
            -webkit-transition: all 500ms ease-in-out;
            -moz-transition: all 500ms ease-in-out; }
            .connexion-container .connexion-content .connexion-form > div form input[type=submit]:hover {
              background-color: #e6e6e6; }
          .connexion-container .connexion-content .connexion-form > div form.active {
            display: block; }
        @media screen and (max-width: 768px) {
          .connexion-container .connexion-content .connexion-form > div {
            width: 100%;
            float: none; } }
      .connexion-container .connexion-content .connexion-form .social-container {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        text-align: center;
        box-sizing: border-box;
        padding: 1em; }
        .connexion-container .connexion-content .connexion-form .social-container a {
          display: inline-block; }
        .connexion-container .connexion-content .connexion-form .social-container a:first-child {
          position: relative;
          padding: 0.8em 1em;
          color: #ffffff;
          text-decoration: none;
          text-transform: uppercase;
          background-color: #3b5998;
          border: none;
          cursor: pointer;
          border: solid 1px #3b5998;
          border-radius: 3px;
          transition: all 500ms ease-in-out;
          -webkit-transition: all 500ms ease-in-out;
          -moz-transition: all 500ms ease-in-out;
          margin-bottom: 20px; }
          .connexion-container .connexion-content .connexion-form .social-container a:first-child:hover {
            background-color: #2d4373; }
        .connexion-container .connexion-content .connexion-form .social-container a:last-child {
          position: relative;
          padding: 0.8em 1em;
          color: #ffffff;
          text-decoration: none;
          text-transform: uppercase;
          background-color: #dd4b39;
          border: none;
          cursor: pointer;
          border: solid 1px #dd4b39;
          border-radius: 3px;
          transition: all 500ms ease-in-out;
          -webkit-transition: all 500ms ease-in-out;
          -moz-transition: all 500ms ease-in-out; }
          .connexion-container .connexion-content .connexion-form .social-container a:last-child:hover {
            background-color: #c23321; }
        @media screen and (max-width: 768px) {
          .connexion-container .connexion-content .connexion-form .social-container {
            width: 100%;
            float: none;
            position: initial;
            transform: translateY(0); } }
      .connexion-container .connexion-content .connexion-form::after {
        display: block;
        content: "";
        clear: both; }
  @media screen and (max-width: 768px) {
    .connexion-container {
      padding: 6em 2em; } }

/*# sourceMappingURL=login.css.map */
