/*
Error: Invalid CSS after "...ighten(red, 50%": expected ")", was ";)"
        on line 266 of scss/_commons.scss
        from line 1 of scss/story.scss

261:     margin: auto;
262:     padding: 1em;
263:     box-sizing:border-box;
264: 
265:     &-danger{
266:         background-color: lighten(red, 50%;)
267:         color: #000000;
268:     }
269: 
270:     &-success{
271:         background-color: lighten(green, 50%;)

Backtrace:
scss/_commons.scss:266
scss/story.scss:1
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:1163:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/lexer.rb:220:in `expected!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/parser.rb:579:in `assert_tok'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/parser.rb:408:in `funcall'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/parser.rb:387:in `ident'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/parser.rb:246:in `unary_not'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/parser.rb:246:in `unary_div'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/parser.rb:246:in `unary_minus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/parser.rb:246:in `unary_plus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/parser.rb:227:in `times_div_or_mod'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/parser.rb:227:in `plus_or_minus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/parser.rb:227:in `relational'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/parser.rb:227:in `eq_or_neq'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/parser.rb:227:in `and_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/parser.rb:227:in `or_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/parser.rb:361:in `space'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/parser.rb:345:in `interpolation'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/parser.rb:293:in `expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/parser.rb:570:in `assert_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/script/parser.rb:62:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:1025:in `sass_script'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:878:in `value!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:753:in `block in try_declaration'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:1139:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:1139:in `rethrow'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:766:in `try_declaration'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:661:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:650:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:642:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:661:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:653:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:642:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:635:in `ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:660:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:653:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:117:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/scss/parser.rb:42:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/engine.rb:393:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/engine.rb:299:in `to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:313:in `block in visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/stack.rb:88:in `block in with_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/stack.rb:88:in `with_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:469:in `on_file_changed'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/vendor/listen/lib/listen/listener.rb:252:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.7/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ighten(red, 50%\": expected \")\", was \";)\"\A         on line 266 of scss/_commons.scss\A         from line 1 of scss/story.scss\A \A 261:     margin: auto;\A 262:     padding: 1em;\A 263:     box-sizing:border-box;\A 264: \A 265:     &-danger{\A 266:         background-color: lighten(red, 50%;)\A 267:         color: #000000;\A 268:     }\A 269: \A 270:     &-success{\A 271:         background-color: lighten(green, 50%;)"; }
